* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$homepage: #0e1525;
$playground: #282a36;
$btn: #383e50;

$primary-text: #e0e6f0;
$secondary-text: #9ea8b9;
$border: #797a7e;

:root {
  --interval: 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

*::selection {
  color: $primary-text;
  background-color: $secondary-text;
}

.homepage {
  max-height: 100vh;
  background-color: $homepage;
  display: grid;
  grid-template-rows: 60px calc(100vh - 60px);
  overflow: hidden;

  .navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    padding: 0 0 0 30px;
    background-color: $playground;
    color: $primary-text;
    border-right: 1px solid $border;
    border-bottom: 1px solid $border;
    border-radius: 2px;

    .left {
      display: flex;
    }

    .right {
      display: flex;
    }

    .nav {
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;
      transition: all 0.4s;
    }

    .secondary {
      padding: 0 40px;
      font-size: 18px;

      &:hover {
        background-color: $btn;
      }
    }

    .select {
      position: relative;

      .dropdown {
        display: none;
        position: absolute;
        top: 70px;
        left: 0px;
        z-index: 10;
        background-color: $btn;
        border: 1px solid $border;
        border-radius: 2px;
        transition: all 0.4s;

        ul {
          list-style: none;

          li {
            padding: 8px 25px 8px 8px;
            border-radius: 2px;
            transition: all 0.4s;

            &:hover {
              background-color: $playground;
            }
          }
        }
      }
    }

    .btn {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    .title {
      font-family: "PT Serif", serif;
      font-size: 30px;
      letter-spacing: 1px;
      transition: all 0.4s;
      padding: 0 30px;
      text-decoration: none;
      color: $primary-text;

      &:hover {
        background-color: $btn;
      }
    }

    .visualize {
      font-family: inherit;
      font-size: 18px;
      padding: 10px 20px;
      background-color: $playground;
      color: $primary-text;
      border: none;
      border: 1px solid $border;
      border-radius: 2px;
      cursor: pointer;
      user-select: none;
      transition: all 0.4s ease;

      &:hover {
        background-color: $btn;
      }

      &:active {
        outline: none;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .main {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
    padding-bottom: 0;
    overflow: hidden;

    &__left {
      padding-right: 10px;

      .playground {
        border: 1px solid $border;
        border-radius: 2px;
        border-bottom: none;
        font-size: 18px;
      }

      .CodeMirror {
        width: 100%;
        min-height: calc(100vh - 71px);
      }
    }

    &__right {
      display: grid;
      grid-template-columns: 30fr 70fr;
      grid-template-rows: 65fr 35fr;
      grid-gap: 30px;
      padding: 30px 0 30px 10px;

      .event {
        border: 1px solid $border;
        border-radius: 2px;
        background-color: $playground;
        display: grid;
        grid-template-rows: 50px 1fr;

        &__title {
          font-size: 20px;
          text-align: center;
          color: $secondary-text;
          padding: 10px 0 20px 0;
        }

        &__border {
          position: relative;
          overflow: hidden;
        }

        &__content {
          position: absolute;
          bottom: 10px;
          width: 100%;
        }

        &__text {
          border: 1px solid $border;
          color: $primary-text;
          width: 80%;
          margin: 0 auto;
          padding: 10px;
          overflow-x: hidden;
          animation: fadeIn var(--interval) ease-in-out;

          &:not(:last-child) {
            margin: 10px auto;
          }
        }
      }

      .call-stack {
        grid-row: 1 / 3;
      }
    }
  }
}

.remove-content {
  animation: fadeOut var(--interval) ease !important;
}

.dropdown__active {
  background-color: $btn;
}
